<head>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="/css/search.css">
   </head>
   
   <body>
    <form action="/search" method="POST">
   <div class="search-container">
           <input type="text" name="search" placeholder="Search for topic..." class="search-input">
           <button type="submit" name="Search" value="search" class="btn-link"><i class="fas fa-search"></i></button>
       </div>
       </body>
    </form>

   